<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= text_field_tag :name, 'hello', class: 'form-control boxed', readonly: 'readonly' %>
    </td>
    <td>
      <%= text_field_tag :value, 'value', class: 'form-control boxed', readonly: 'readonly' %>
    </td>
    <td>
      <a href="#"><i class="fa fa-minus-circle"></i></a>
    </td>
  </tr>
  <tr>
    <td>
      <%= text_field_tag :name, nil, class: 'form-control boxed', placeholder: 'Name' %>
    </td>
    <td>
      <%= text_field_tag :value, nil, class: 'form-control boxed', placeholder: 'Value' %>
    </td>
    <td>
      <a href="#"><i class="fa fa-plus-circle"></i></a>
    </td>
  </tr>
  </tbody>
</table>