<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo"><span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span>
            <span class="l l4"></span> <span class="l l5"></span></div>
          Cup CI
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-xs-center">SIGNUP TO GET INSTANT ACCESS</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :post}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :name %><br/>
            <%= f.text_field :name, autofocus: true, class: 'form-control underlined', placeholder: 'Enter name' %>
          </div>
          <div class="form-group">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, class: 'form-control underlined', placeholder: 'Enter email address' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="form-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <% if false %>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password, #{@minimum_password_length} characters minimum", class: 'form-control underlined' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control underlined', placeholder: 'Re-type password' %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.submit "Sign Up", class: 'btn btn-block btn-primary' %>
          </div>
          <div class="form-group">
            <p class="text-muted text-xs-center">Already have an account?
              <a href="<%= new_user_session_path %>">Login!</a></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-xs-center"><a href="<%= dashboard_path %>" class="btn btn-secondary rounded btn-sm">
      <i class="fa fa-arrow-left"></i> Back to landing page
    </a></div>
  </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
  <div class="color-primary"></div>
  <div class="chart">
    <div class="color-primary"></div>
    <div class="color-secondary"></div>
  </div>
</div>