<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Run</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= simple_form_for action, url: space_pipeline_actions_path(current_space, action.pipeline),
                        as: 'action_attributes', remote: true do |f| %>
      <div class="modal-body">

        <div class="card card-block">
          <div class="form-group">
            <%= f.simple_fields_for Decorator::JsonField.new(action.configuration) do |ff| %>
              <%= ff.input :git_commit, label: 'From', placeholder: 'Branch, Tag or CommitID' %>
            <% end %>
          </div>
          <p>Chose commit to run pipeline.</p>

        </div>
        <div class="modal-footer">
          <%= f.button :submit, 'Run', class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    <% end %>
    </div>
  </div>
</div>