<% if false %>
  <footer class="footer">
    <div class="footer-block buttons">
    </div>
    <div class="footer-block author">
      <ul>
        <li> created by <a href="https://github.com/jjyr">jjy</a></li>
      </ul>
    </div>
  </footer>
<% end %>