<header class="header">
  <div class="header-block header-block-collapse hidden-lg-up">
    <button class="collapse-btn" id="sidebar-collapse-btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="header-block header-block-search hidden-sm-down">
    <form role="search">
      <div class="input-container"><i class="fa fa-search"></i> <input type="search" placeholder="Search">
        <div class="underline"></div>
      </div>
    </form>
  </div>
  <div class="header-block header-block-buttons">
    <a href="https://github.com/modularcode/modular-admin-html" class="btn btn-sm header-btn">
      <i class="fa fa-github-alt"></i>
      <span>View on GitHub</span>
    </a> <a href="https://github.com/modularcode/modular-admin-html/stargazers" class="btn btn-sm header-btn">
    <i class="fa fa-star"></i>
    <span>Star Us</span>
  </a>
    <a href="https://github.com/modularcode/modular-admin-html/releases/download/v1.1.0/modular-admin-html-1.1.0.zip" class="btn btn-sm header-btn">
      <i class="fa fa-cloud-download"></i>
      <span>Download .zip</span>
    </a></div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li class="notifications new"><a href="" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <sup>
          <span class="counter">8</span>
        </sup>
      </a>
        <div class="dropdown-menu notifications-dropdown-menu">
          <ul class="notifications-container">
            <li>
              <a href="" class="notification-item">
                <div class="img-col">
                  <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                </div>
                <div class="body-col">
                  <p><span class="accent">Zack Alien</span> pushed new commit:
                    <span class="accent">Fix page load performance issue</span>. </p>
                </div>
              </a>
            </li>
            <li>
              <a href="" class="notification-item">
                <div class="img-col">
                  <div class="img" style="background-image: url('assets/faces/5.jpg')"></div>
                </div>
                <div class="body-col">
                  <p><span class="accent">Amaya Hatsumi</span> started new task:
                    <span class="accent">Dashboard UI design.</span>. </p>
                </div>
              </a>
            </li>
            <li>
              <a href="" class="notification-item">
                <div class="img-col">
                  <div class="img" style="background-image: url('assets/faces/8.jpg')"></div>
                </div>
                <div class="body-col">
                  <p><span class="accent">Andy Nouman</span> deployed new version of
                    <span class="accent">NodeJS REST Api V3</span></p>
                </div>
              </a>
            </li>
          </ul>
          <footer>
            <ul>
              <li><a href="">
                View All
              </a></li>
            </ul>
          </footer>
        </div>
      </li>
      <li class="profile dropdown">
        <%= render 'layouts/dashboard/profile'%>
      </li>
    </ul>
  </div>
</header>