<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"></div>
  <span class="name">
    			      <%= current_user.name %>
    			    </span> </a>
<div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
  <a class="dropdown-item" href="#">
    <i class="fa fa-user icon"></i>
    Profile
  </a> <a class="dropdown-item" href="#">
  <i class="fa fa-bell icon"></i>
  Notifications
</a> <a class="dropdown-item" href="#">
  <i class="fa fa-gear icon"></i>
  Settings
</a>
  <div class="dropdown-divider"></div>
  <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
    <i class="fa fa-power-off icon"></i>
    Logout
  <% end %></div>