<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="cupci-logo"><%= image_tag 'icon', class: 'align-top' %></div>
        <span>Cup CI</span>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li class="<%= 'active open' if controller_name == 'actions' %>">
          <%= link_to space_actions_path do %>
            <i class="fa fa-terminal"></i> Build Actions
          <% end %>
        </li>
        <li class="<%= 'active open' if controller_name == 'pipelines' %>">
          <%= link_to space_pipelines_path do %>
            <i class="fa fa-coffee"></i> Pipelines
          <% end %>
        </li>
        <li class="<%= 'active open' if controller_name == 'templates' %>">
          <%= link_to space_templates_path do %>
            <i class="fa fa-cubes"></i> Templates
          <% end %>
        </li>
        <li class="<%= 'active open' if controller_name == 'spaces' %>">
          <%= link_to spaces_path do %>
            <i class="fa fa-group"></i> WorkSpaces
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="sidebar-footer">
    <ul class="nav metismenu" id="customize-menu">
      <li>
        <a href="">
          <i class="fa fa-book"></i> Document
        </a></li>
    </ul>
  </footer>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>