<div class="image-container">
  <div class="controls">
    <a href="" class="control-btn move">
      <i class="fa fa-arrows"></i>
    </a>
    <!--
--><a href="" class="control-btn star">
    <i class="fa"></i>
  </a>
    <!--
--><a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
    <i class="fa fa-trash-o"></i>
  </a></div>
  <%= link_to new_space_pipeline_path(pipeline: {template_id: template.id}) do %>
    <div class="image"><%= template.name %></div>
  <% end %>
  <!--<div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>-->
</div>