<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title"> Templates <%= link_to 'Back', :back, class: 'btn btn-secondary btn-sm rounded-s' %></h3>
  </div>
  <div class="card card-block">
    <div class="form-group row">
      <label class="col-sm-2 form-control-label text-xs-right">
        Template:
      </label>
      <div class="col-sm-10">
        <div class="images-container">
          <% @templates.each do |template| %>
            <%= render 'template', template: template %>
          <% end %>
          <div class="image-container">
            <div class="controls"><a href="" class="control-btn move">
              <i class="fa fa-arrows"></i>
            </a>
              <!--
--><a href="" class="control-btn star">
              <i class="fa"></i>
            </a>
              <!--
--><a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
              <i class="fa fa-trash-o"></i>
            </a></div>
            <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')"></div>
          </div>
          <div class="image-container">
            <div class="controls"><a href="" class="control-btn move">
              <i class="fa fa-arrows"></i>
            </a>
              <!--
--><a href="" class="control-btn star">
              <i class="fa"></i>
            </a>
              <!--
--><a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
              <i class="fa fa-trash-o"></i>
            </a></div>
            <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg')"></div>
          </div>
          <div class="image-container">
            <div class="controls"><a href="" class="control-btn move">
              <i class="fa fa-arrows"></i>
            </a>
              <!--
--><a href="" class="control-btn star">
              <i class="fa"></i>
            </a>
              <!--
--><a href="#" class="control-btn remove" data-toggle="modal" data-target="#confirm-modal">
              <i class="fa fa-trash-o"></i>
            </a></div>
            <div class="image" style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg')"></div>
          </div>
          <a href="#" class="add-image" data-toggle="modal" data-target="#modal-media">
            <div class="image-container new">
              <div class="image"><i class="fa fa-plus"></i></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="form-group row">
    </div>
  </div>
</article>