<div class="modal fade" id="new-space-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Workspace</h4>
      </div>
      <div class="modal-body">
        <%= form_for(current_user.spaces.new, remote: true) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control underlined', placeholder: 'Workspace name' %>
            <p class="alert-danger" data-error-message>
            </p>
          </div>
          <div class="form-group">
            <%= f.submit 'Create', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>