<article class="content cards-page">
  <div class="title-block">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title"> WorkSpaces
          <a href="#" class="btn btn-primary btn-sm rounded-s" data-toggle="modal" data-target="#new-space-modal">
            Add New
          </a>
        </h3>
        <p class="title-description"> Switch workspaces </p>
      </div>
    </div>
  </div>
  <section class="section">
    <% @spaces.each do |space| %>
      <div class="row">
        <div class="col-xl-4">
          <div class="card card-default">
            <div class="card-header">
              <div class="header-block">
                <p class="title"> <%= link_to space.name, dashboard_path(space_id: space.id) %> </p>
              </div>
            </div>
            <div class="card-block">
              <p>Users: <%= space.users.count %><br> Created: <%= time_ago_in_words space.created_at %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @spaces.blank? %>
      <div class="row">
        <div class="col-xl-4">
          <div class="card card-warning">
            <div class="card-header">
              <div class="header-block">
                <p class="title"> No workspaces </p>
              </div>
            </div>
            <div class="card-block">
              <p>Click 'Add New' to add a workspace</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</article>

<%= render 'new_space' %>