<li class="item" data-action-id="<%= action.id %>">
  <div class="item-row">
    <div class="item-col no-overflow">
      <div class="item-heading">Status</div>
      <div>
        <%= link_to space_action_path(current_space, action) do %>
          <%= action.status %>
        <% end %>
      </div>
    </div>
    <div class="item-col no-overflow">
      <div class="item-heading">Name</div>
      <div class="no-overflow">
        <%= link_to space_action_path(action) do %>
          <small><%= action.name %></small>
        <% end %>
      </div>
    </div>
    <div class="item-col">
      <div class="item-heading">Commit</div>
      <div class="no-overflow"><%= action&.configuration&.dig('git_commit') %></div>
    </div>
    <div class="item-col">
      <div class="item-heading">Trigger By</div>
      <div> <%= action.triggerable.name %></div>
    </div>
    <div class="item-col">
      <div class="item-heading">Started</div>
      <div class="no-overflow">
        <small><%= (at = action.started_at) ? time_ago_in_words(at) : 'Not Yet' %></small>
      </div>
    </div>
    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown"><a class="item-actions-toggle-btn">
								<span class="inactive">
									<i class="fa fa-cog"></i>
								</span>
        <span class="active">
								<i class="fa fa-chevron-circle-right"></i>
								</span>
      </a>
        <div class="item-actions-block">
          <ul class="item-actions-list">
            <li>
              <%= link_to rebuild_space_action_path(current_space, action), class: 'edit', remote: true, method: :post do %>
                <i class="fa fa-refresh"></i>
              <% end %>
            </li>
            <li>
              <%= link_to space_pipeline_path(current_space, action.pipeline), class: 'edit' do %>
                <i class="fa fa-coffee"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>