<article class="content items-list-page">
  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"> Build Actions
          </h3>
          <p class="title-description"> Pipeline build actions </p>
        </div>
      </div>
    </div>
    <div class="items-search">
      <%= search_form_for @q, url: space_actions_path(current_space), class: 'form-inline' do |f| %>
        <div class="input-group">
          <%= f.search_field :pipeline_name_cont, class: "form-control boxed rounded-s", placeholder: "Search for...", autofocus: 'autofocus' %>
          <span class="input-group-btn">
            <%= f.submit class: "btn btn-secondary rounded-s" do %>
						<i class="fa fa-search"></i>
					<% end %>
				  </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card items">
    <ul class="item-list striped">
      <li class="item item-list-header hidden-sm-down">
        <div class="item-row">
          <div class="item-col item-col-header">
            <div><span>Status</span></div>
          </div>
          <div class="item-col item-col-header">
            <div class="no-overflow"><span>Name</span></div>
          </div>
          <div class="item-col item-col-header">
            <div class="no-overflow"><span>Commit</span></div>
          </div>
          <div class="item-col item-col-header">
            <div class="no-overflow"><span>Trigger by</span></div>
          </div>
          <div class="item-col item-col-header">
            <div><span>Started</span></div>
          </div>
          <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
        </div>
      </li>
      <% @actions.each do |action| %>
        <%= render 'action_row', action: action %>
      <% end %>
    </ul>
  </div>
  <%= paginate @actions %>
</article>