<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      <%= @action.name %>
      <%= link_to 'Back', :back, class: 'btn btn-secondary btn-sm rounded-s' %>
    </h3>
  </div>

  <div class="card card-block">
    <div class="subtitle-block">
      <h3 class="subtitle"> Job #<%=@action.sequence%> </h3>
    </div>

    <div class="form-group">
      Repo: <%= @action.pipeline.source.reponame %>
    </div>

    <div class="form-group">
      Status: <%= @action.status %>
    </div>

    <div class="form-group">
      Created At: <%= @action.created_at %>
    </div>

    <div class="form-group">
      Ran For: <%= @action.completed? ? @action.ran_seconds : 'Not yet finished' %>
    </div>

    <div class="form-group">
      Pipeline: <%= link_to @action.pipeline.name, space_pipeline_path(current_space, @action.pipeline) %>
    </div>

    <div class="subtitle-block">
      <h3 class="subtitle"> Job Log </h3>
    </div>
    <!-- pipeline basic settings -->

    <div class="form-group">
      logs....
    </div>
  </div>
</article>