<% template ||= pipeline.template %>
<% url = pipeline.new_record? ? space_pipelines_path : space_pipeline_path(current_space, pipeline) %>
<% edit ||= false %>

<%= simple_form_for pipeline, url: url, name: 'item' do |f| %>
  <div class="card card-block">

    <div class="form-group">
      <div class="images-container">
        <%= render 'templates/template', template: template %>
      </div>
      <%= f.input :template_id, as: :hidden %>
    </div>

    <div class="subtitle-block">
      <h3 class="subtitle"> Source </h3>
    </div>

    <div class="form-group">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#github-repo" role="tab">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#bitbucket-repo" role="tab">Bitbucket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#git-repo" role="tab">Git</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active in" id="github-repo" role="tabpanel">
          <%= f.simple_fields_for :source do |ff| %>
            <%= ff.input :reponame, label: 'Repo', input_html: {value: pipeline.source&.reponame}, disabled: !edit %>
            <%= ff.input :auth_id, input_html: {value: current_user.auths.with_provider('github').first!.id}, as: :hidden %>
            <%= ff.input :type, input_html: {value: 'repo'}, as: :hidden %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="bitbucket-repo">...</div>
        <div class="tab-pane fade" id="git-repo">...</div>
      </div>
    </div>

    <div class="subtitle-block">
      <h3 class="subtitle"> Basic </h3>
    </div>
    <!-- pipeline basic settings -->

    <div class="form-group">
      <%= f.input :name, class: 'form-control boxed', placeholder: 'Name', disabled: !edit %>
    </div>

    <div class="form-group">
      <%= f.simple_fields_for :project do |ff| %>
        <%= ff.label :name do %>
          <abbr title="required">*</abbr>
          Project
        <% end %>
        <%= ff.input_field :name, collection: current_space.projects.pluck(:name), selected: @pipeline.project&.name, id: 'select-projects', disabled: !edit %>
      <% end %>
    </div>

    <!--pipeline basic settings end -->
    <div class="subtitle-block">
      <h3 class="subtitle"> Action </h3>
    </div>
    <%= f.simple_fields_for Decorator::JsonField.new(pipeline.configuration) do |ff| %>
      <div class="form-group">
        <%= ff.input :scripts, as: :scripts, disabled: !edit %>
      </div>
      <div class="form-group">
        <%= ff.input :docker_image, class: 'form-control boxed', placeholder: 'Docker Image', disabled: !edit %>
      </div>
    <% end %>
    <div class="form-group row">
      <div class="col-sm-10 col-sm-offset-2">
        <%= f.button :submit, class: 'btn btn-primary' if edit %>
      </div>
    </div>
  </div>
<% end %>