<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'View', space_pipeline_path(current_space, pipeline), class: "nav-link#{' active' if action_name == 'show'}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Edit', edit_space_pipeline_path(current_space, pipeline), class: "nav-link#{' active' if action_name == 'edit' || action_name == 'update'}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Config', configuration_space_pipeline_path(current_space, pipeline), class: "nav-link#{' active' if action_name == 'configuration'}" %>
  </li>
</ul>