<li class="item" data-pipeline-id="<%= pipeline.id %>">
  <div class="item-row">
    <!--<div class="item-col fixed item-col-check"><label class="item-check" id="select-all-items">-->
    <!--<input type="checkbox" class="checkbox">-->
    <!--<span></span>-->
    <!--</label></div>-->
    <div class="item-col fixed pull-left item-col-title">
      <div class="item-heading">Name</div>
      <div>
        <%= link_to space_pipeline_path(pipeline) do %>
          <h4 class="item-title"> <%= pipeline.name %> </h4>
        <% end %>
      </div>
    </div>
    <div class="item-col no-overflow">
      <div class="item-heading">Project</div>
      <div class="no-overflow"><%= pipeline.project.name %></div>
    </div>
    <div class="item-col">
      <div class="item-heading">Creator</div>
      <div class="no-overflow"><%= pipeline.user.name %></div>
    </div>
    <div class="item-col">
      <div class="item-heading">Status</div>
      <div> <%= render_pipeline_status(pipeline) %></div>
    </div>
    <div class="item-col">
      <div class="item-heading">Updated</div>
      <div class="no-overflow"> <small><%= (at = pipeline.updated_at) ? time_ago_in_words(at) : 'Never' %></small></div>
    </div>
    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown"><a class="item-actions-toggle-btn">
								<span class="inactive">
									<i class="fa fa-cog"></i>
								</span>
        <span class="active">
								<i class="fa fa-chevron-circle-right"></i>
								</span>
      </a>
        <div class="item-actions-block">
          <ul class="item-actions-list">
            <li>
              <%= link_to new_space_pipeline_action_path(current_space, pipeline), class: 'edit', remote: true do %>
                <i class="fa fa-gamepad"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_space_pipeline_path(current_space, pipeline), class: 'edit' do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </li>
            <li>
              <%= link_to space_pipeline_path(current_space, pipeline), class: 'remove', remote: true, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <i class="fa fa-trash-o "></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>