<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title"> Config Pipeline
      - <%= @pipeline.name %> <%= link_to 'Back', :back, class: 'btn btn-secondary btn-sm rounded-s' %></h3>
  </div>
  <%= render 'nav', pipeline: @pipeline %>
  <div class="card card-block">
    <div class="form-group">
      <%= link_to 'Delete Pipeline', space_pipeline_path(current_space, @pipeline),
                  data: {confirm: 'Sure?'}, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</article>