<article class="content items-list-page">
  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"> Pipelines
            <a href="<%= space_templates_path %>" class="btn btn-primary btn-sm rounded-s">
              Add New
            </a>
            <!--
-->
            <!--<div class="action dropdown">-->
            <!--<button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--More actions...-->
            <!--</button>-->
            <!--<div class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o icon"></i>Mark as a draft</a>-->
            <!--<a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-modal"><i class="fa fa-close icon"></i>Delete</a>-->
            <!--</div>-->
            <!--</div>-->
          </h3>
          <p class="title-description"> Create a pipeline to start CI/CD </p>
        </div>
      </div>
    </div>
    <div class="items-search">
      <%= search_form_for @q, url: space_pipelines_path(current_space), class: 'form-inline' do |f| %>
        <div class="input-group">
          <%= f.search_field :name_or_project_name_cont, class: "form-control boxed rounded-s", placeholder: "Search for...", autofocus: 'autofocus' %>
          <span class="input-group-btn">
            <%= f.submit class: "btn btn-secondary rounded-s" do %>
						<i class="fa fa-search"></i>
					<% end %>
				  </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card items">
    <ul class="item-list striped">
      <li class="item item-list-header hidden-sm-down">
        <div class="item-row">
          <!--<div class="item-col fixed item-col-check"><label class="item-check" id="select-all-items">-->
          <!--<input type="checkbox" class="checkbox">-->
          <!--<span></span>-->
          <!--</label></div>-->
          <div class="item-col item-col-header item-col-title">
            <div><span>Name</span></div>
          </div>
          <div class="item-col item-col-header">
            <div class="no-overflow"><span>Project</span></div>
          </div>
          <div class="item-col item-col-header">
            <div class="no-overflow"><span>Creator</span></div>
          </div>
          <div class="item-col item-col-header">
            <div><span>Status</span></div>
          </div>
          <div class="item-col item-col-header">
            <div><span>Updated</span></div>
          </div>
          <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
        </div>
      </li>
      <% @pipelines.each do |pipeline| %>
        <%= render 'pipeline_row', pipeline: pipeline %>
      <% end %>
    </ul>
  </div>
  <%= paginate @pipelines %>
</article>
<div id="new-action-modal" class="modal fade"></div>