<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title"> Add new pipeline <%= link_to 'Back', :back, class: 'btn btn-secondary btn-sm rounded-s' %></h3>
  </div>
  <%= render 'form', pipeline: @pipeline, template: @template, edit: true %>
</article>