<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title"> Pipeline
      - <%= @pipeline.name %> <%= link_to 'Back', :back, class: 'btn btn-secondary btn-sm rounded-s' %></h3>
  </div>
  <%= render 'nav', pipeline: @pipeline %>
  <%= render 'form', pipeline: @pipeline, template: @template %>
</article>