<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo"><span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span>
            <span class="l l4"></span> <span class="l l5"></span></div>
          Cup CI
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-xs-center">LOGIN TO CONTINUE</p>
        <% form_for(resource, as: resource_name, url: session_path(resource_name), id: "login-form") do |f| %>
          <div class="form-group">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, class: "form-control underlined", placeholder: 'Your email address' %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "off", class: "form-control underlined", placeholder: 'Your password' %>
          </div>

          <div class="form-group">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, class: "checkbox" %>
              <span>Remember me</span>
            <% end %>
            <a href="<%= new_user_password_path %>" class="forgot-btn pull-right">Forgot password?</a>
          </div>

          <div class="form-group">
            <%= f.submit "Login", class: 'btn btn-block btn-primary' %>
          </div>
          <div class="form-group"></div>
          <div class="form-group">
            <p class="text-muted text-xs-center">Do not have an account?
              <a href="<%= new_user_registration_path %>">Sign Up!</a></p>
          </div>
        <% end if false %>
        <div class="form-group">
          <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-block btn-primary' do%>
            <i class="fa fa-github" aria-hidden="true"></i>
            Login via GitHub
          <%end%>
        </div>
        <div class="form-group">
          <p class="text-muted text-xs-center">Do not have an account?
            <a href="<%= user_github_omniauth_authorize_path %>">Sign Up!</a></p>
        </div>
      </div>
    </div>
    <div class="text-xs-center"><a href="<%= root_path %>" class="btn btn-secondary rounded btn-sm">
      <i class="fa fa-arrow-left"></i> Back to landing page
    </a></div>
  </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
  <div class="color-primary"></div>
  <div class="chart">
    <div class="color-primary"></div>
    <div class="color-secondary"></div>
  </div>
</div>