// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cupci-logo {
  display: inline-block;
  width: 45px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  img {
    width: 100%;
  }
}