<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body data-controller="<%= controller_name.camelize %>">
<div class="main-wrapper">
  <div class="app" id="app">
    <%= render 'layouts/dashboard/header' %>
    <%= render 'layouts/dashboard/sidebar' %>
    <%= yield %>
    <%= render 'layouts/dashboard/footer' %>
  </div>
</div>

<div class="ref" id="ref">
  <div class="color-primary"></div>
  <div class="chart">
    <div class="color-primary"></div>
    <div class="color-secondary"></div>
  </div>
</div>
</body>
</html>
